/*Font family*/

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

* {
  font-family: "raleway";
}
/*============================================================*/
/*Classes Flex*/

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexColumnCenter {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexColumnAround {
  flex-direction: column;
  display: flex;
  justify-content: space-around;
}
.flexColumnBetween {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

/*============================================================*/
/*Classes nav*/

.sizeLinks {
  width: 100%;
}
.sizeLink {
  width: 140px;
  height: 99px;
}
.noneDeco {
  text-decoration: none;
}
.borderNone {
  border: none;
}
.sizeNav {
  height: 100px;
}

.borderNav a {
  color: black;
  padding: 32px;
  border-top: 3px solid transparent;
}

.borderNav a:hover {
  color: #0065fc;
  border-top-color: #0065fc;
}

.colorBlack {
  color: black;
}

.colorBlue {
  color: #0065fc;
}
.colorLightBlue {
  color: #deebff;
}
.colorGrey {
  color: #f2f2f2;
}
.backBlue {
  background-color: #0065fc;
}
.backLightBlue {
  background-color: #deebff;
}
.backGrey {
  background-color: #f2f2f2;
}
.fontBold {
  font-weight: bold;
}

/*============================================================*/
/*Class Header*/

.fas.fa-search {
  visibility: hidden;
}

.borderSearch {
  width: 400px;
  border-radius: 10px;
  border: 0.5px solid #f2f2f2;
}
.iconeSize {
  height: 50px;
  width: 50px;
  border-radius: 10px 0px 0px 10px;
}
.Search {
  height: 50px;
  width: 230px;
  font-size: 18px;
  color: black;
  font-weight: bold;
}
.paddingSearch {
  padding-left: 20px;
}
.buttonSearch {
  width: 120px;
  height: 50px;
  color: white;
  cursor: pointer;
  border-radius: 0px 10px 10px 0px;
}

.buttonSearch:hover {
  color: #0065fc;
  background-color: #f2f2f2;
}

/*============================================================*/
/*classes Filtres*/

.filtre {
  display: flex;
  align-items: center;
}
.margFiltre {
  margin-top: 50px;
  margin-bottom: 40px;
}
.margFiltreTitle {
  margin-right: 20px;
}
.filtreTextIcons {
  border: 2px solid #f2f2f2;
  height: 50px;
  border-radius: 30px;
  margin-right: 20px;
}
.filtreTextIcons:hover > .filtreTexte {
  cursor: pointer;
  color: #0065fc;
}
.filtreTextIcons:hover > .filtreIcons {
  cursor: pointer;
  color: white;
  background-color: #0065fc;
}

.filtreTexte {
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0px 25px 25px 0px;
}
.filtreIcons {
  margin-left: -2px;
  border-radius: 25px;
  width: 52px;
  height: 52px;
  color: #0065fc;
  background-color: #deebff;
}

/*============================================================*/
/*classes Information*/

.info {
  display: flex;
  align-items: center;
}
.parentIcon {
  width: 20px;
  height: 20px;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
  margin-right: 5px;
}

/*============================================================*/
/*classes Hébergements*/

.sizeHebergements {
  flex: 2;
  height: 650px;
  margin-right: 20px;
  border-radius: 10px;
}

.imgHebergement1 {
  background-image: url(../images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  height: 120px;
}

.imgHebergement2 {
  background-image: url(../images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  height: 120px;
}

.imgHebergement3 {
  background-image: url(../images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  height: 120px;
}

.imgHebergement4 {
  background-image: url(../images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  height: 120px;
}

.imgHebergement5 {
  background-image: url(../images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  height: 120px;
}

.imgHebergement6 {
  background-image: url(../images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  height: 120px;
}

.blocHebergement {
  padding-left: 20px;
  padding-right: 20px;
}

.carreHebergements {
  width: 30%;
  height: auto;
  background-color: white;
  padding: 1%;
  border-radius: 20px;
  transition: all 150ms ease;
}

.carreHebergements:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.bloc1 {
  margin-bottom: 10px;
}
.bloc2 {
  margin-top: 10px;
}
.carreDesc {
  width: 90%;
}

/*============================================================*/
/*classes populaires*/

.sizePopulaire {
  flex: 1;
  height: 650px;
  margin-left: 20px;
  border-radius: 10px;
}

.blocPopulaire {
  padding-left: 20px;
  padding-right: 20px;
}

.carrePopulaire {
  background-color: white;
  height: auto;
  padding: 1% 0 1% 1%;
  border-radius: 20px;
  transition: all 150ms ease;
}

.carrePopulaire:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.blocPopulaire12 {
  margin-bottom: 22px;
}

.carreDescPopulaire {
  width: 60%;
  padding-left: 5%;
}

.imgPopulaire1 {
  background-image: url(../images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 15px 0px 0px 15px;
  width: 35%;
  height: 160px;
}

.imgPopulaire2 {
  background-image: url(../images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 15px 0px 0px 15px;
  width: 35%;
  height: 160px;
}

.imgPopulaire3 {
  background-image: url(../images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 15px 0px 0px 15px;
  width: 35%;
  height: 160px;
}

/*============================================================*/
/*classes activité*/

.activite {
  margin-top: 50px;
  margin-bottom: 50px;
}

.blocActivite {
  width: 100%;
  height: 600px;
}

.blocActivite2356 {
  width: 23%;
  height: 600px;
}

/*reglages bloc*/

.carreActivite {
  width: 23%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
  transition: all 150ms ease;
}

.carreActivite:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.carreActivite2356 {
  width: 100%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
  transition: all 150ms ease;
}

.carreActivite2356:hover {
  cursor: pointer;
  transform: scale(1.03);
}

/*end reglages bloc*/

.heightTitle {
  height: 70px;
}

.titreActivite {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5%;
  width: 95%;
}

.imgActivite1 {
  background-image: url(../images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 530px;
  border-radius: 15px 15px 0 0;
}

.imgActivite2 {
  background-image: url(../images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 250px;
  border-radius: 15px 15px 0 0;
}

.imgActivite3 {
  background-image: url(../images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 150px;
  border-radius: 15px 15px 0 0;
}

.imgActivite4 {
  background-image: url(../images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 530px;
  border-radius: 15px 15px 0 0;
}

.imgActivite5 {
  background-image: url(../images/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 175px;
  border-radius: 15px 15px 0 0;
}

.imgActivite6 {
  background-image: url(../images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 225px;
  border-radius: 15px 15px 0 0;
}

/*============================================================*/
/*classes footer*/

.footer {
  height: 300px;
  margin-top: 100px;
}
.footer a:hover{
  color: #0065fc;
}

.sizeFooterBloc {
  height: 150px;
}

.margeBlocFooter1 {
  margin-left: 5%;
}

.margeBlocFooter3 {
  margin-right: 15%;
}

/*============================================================*/
/*responsivité tablette*/

@media screen and (max-width: 1280px) {
  #HebergementAndActivite {
    display: flex;
    flex-direction: column-reverse;
  }
  .filtre {
    display: flex;
    flex-wrap: wrap;
  }

  .blocHebergement {
    display: flex;
    width: 95%;
    margin-right: 2.5%;
    margin-left: 2.5%;
  }
  .sizePopulaire {
    width: 95%;
    padding-bottom: 5%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    margin-bottom: 5%;
  }
}

/*============================================================*/
/*responsivité telephone*/

@media screen and (max-width: 768px) {
  #navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #mainTitle {
    text-align: start;
  }
  .sizeLinks {
    width: 100%;
    flex-direction: row;
  }
  .mobileNav {
    width: 100%;
  }
  .sizeNav {
    height: auto;
  }
  .sizeLinkMobile {
    width: 50%;
    border-top: 0;
    border-bottom: 5px solid #f2f2f2;
  }
  .sizeLinkMobile:hover {
    border-top: 0;
    border-bottom: 5px solid #0065fc;
  }
  .borderNav a:hover {
    color: #0065fc;
  }
  .borderNav a {
    border-top: none;
  }
  .fas.fa-search {
    visibility: visible;
    padding: 15px;
    border-radius: 10px;
  }
  #rechercher {
    visibility: hidden;
  }
  .buttonSearch {
    width: 50px;
    border-radius: 10px;
  }
  .borderSearch {
    justify-content: space-between;
    width: auto;
  }
  .searchIconSize {
    height: 50px;
    width: 50px;
  }
  .Search {
    width: 100%;
  }

  /*============================================================*/
  /*classes filtres*/

  .margFiltre {
    margin: 0;
  }
  .margFiltreTitle{
    margin: 0;
  }

  .mobileFiltre{
    flex-direction: column;
    align-items: flex-start;
  }
  .mobileFiltreMarg{
    margin-bottom: 10px;
  }
  .iconeSize{
    width: 20%;
  }

  .bloc1{
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
  .bloc2{
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  .sizeHebergements{
    width: 95%;
    padding-bottom: 5%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    background-color: white;
  }
  .carreHebergements{
    display: flex;
    width: 95%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    margin-bottom: 10%;
    box-shadow: 5px 5px 5px 5px #f2f2f2;
  }
}
